name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Build & Run Reli
        run: |
          swift --version
          swift build -c release
          ./.build/release/reli --help
