name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Reli
        run: |
          brew tap 710csm/tap
          brew install reli
          reli --help
          reli --path . --no-ai --annotations github --max-findings 50 --out reli-report.md
